body {
  margin: 0;
  box-sizing: border-box;
}

header {
  font-size: 2rem;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: rgb(0, 46, 0);
  color: rgb(198, 198, 198);
  padding-left: 1rem;
}

#input-area, input {
  font-size: 2rem;
}

button {
  font-size: 1.5rem;
}

#input-area {
  text-align: center;
  padding-top: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.animal-card {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  width: 75vw;
  background-color: rgb(203, 203, 203);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.352);
}

.card-text {
  padding: 1rem 2rem;
}

.animal-card > img {
  width: 30vw;
}
.card-text h3 {
  font-size: 2rem;
}
.card-text p {
  width: 30vw;
}

#no-results-message {
  font-size: 2rem;
  display: none;
}

#no-results-message.showing, .animal-card.showing {
  display: flex;
}
/* added co author */